.CarouselImg {
    justify-content: center; 
}

.Carousel {
    background: white;
    width: 90%;
    margin: 0 auto; 
    padding: 15px;
    margin-bottom: 50px; 
}

.CarouselImgContainer{
    background: white; 
 
}



.legend {
 background: white; 
 color: black; 
}

.Black{
    background-color: black;
    padding-bottom: 50px;
}

.White{
    background-color: white; 
    color: black;
    width: 90%;
    margin: 0 auto; 
    padding: 15px;
    height: 1000px;  
}

h1 {
    padding: 50px
}