.CarouselImg {
    justify-content: center; 
}

.Carousel {
    background: white;
    width: 66%;
    margin: 0 auto; 
    padding: 15px;
    margin-bottom: 50px; 
}

/* .CarouselImgContainer{
    background: white; 
 
} */



.legend {
 background: white; 
 color: black; 
 cursor: pointer; 
}


.Black{
    background-color: black;
    padding-bottom: 50px;
}

.White{
    background-color: white; 
    color: black;
    width: 66%;
    margin: 0 auto; 
    padding: 15px;
    height: 2050px; 
    padding-top: 50px;  
}

h1 {
    padding: 50px
}

li {
    margin: 0 auto;
    text-align:center;
}